<h2>Regisztráció</h2>
<br>
<form>
    <div class="form-group">

        <h5>Alapadatok megadása <span class="badge badge-default">minden mező kötelező</span></h5>

        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Keresztnév</span>
            <input [(ngModel)]="firstName" name="firstName" type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Vezetéknév</span>
            <input [(ngModel)]="lastName" name="lastName" type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">E-mail</span>
            <input [(ngModel)]="email" name="email" type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">Jelszó</span>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" aria-describedby="basic-addon1">
        </div>
        <br>

        <h5>Érdeklődési körök <span class="badge badge-default">{{intCount}}</span></h5>
        <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary" *ngFor="let item of interestsCollection;" [ngClass]="{'active': item.selected }">
                    <input autocomplete="off" type="checkbox" name="cbInterests" [checked]="item.selected" (click)="interestsClick()"> {{item.Name}}
                </label>
        </div>
     
    </div>

</form>

